<h1 class="title">Orage videochat</h1>
<p #notification hidden></p>
<div class="entry-modal" #entryModal>
    <p>Create or Join Meeting</p>
    <input #roomInput class="room-input" placeholder="Enter Room ID">
    <div>
        <button (click)="createRoom()">Create Room</button>
        <button (click)="joinRoom()">Join Room</button>
    </div>
</div>
<div class="meet-area">
    <!-- Remote Video Element-->
    <video #remoteVideo></video>

    <!-- Local Video Element-->
    <video #localVideo></video>
    <div class="meet-controls-bar">
        <button (click)="startScreenShare()">Screen Share</button>
    </div>
</div>
